.mtInputBar {
  height: 75px;
  margin: 10px;
  display: flex;
  flex-direction: row;
}
.mtInputBarOdd {
  background-color: #f1f1f1;
}
.mtCaption {
  margin-left: 50px;
  width: 30%;
  font-size: x-large;
  font-weight: bold;
  margin-top: 20px;
  text-align: left;
}
.mtInfo {
  display: flex;
  height: 30px;
  width: 30px;
  border-radius: 15px;
  margin-top: 22px;
  margin-right: 20px;
  border: #c1c1c1 solid 1px;
  box-shadow: 3px 3px #c1c1c1;
  cursor: pointer;
  align-items: center;
  justify-content: center;
}

.mtInfo:hover {
  box-shadow: 3px 3px #464646;
  cursor: pointer;
}

.mtInput {
  width: 380px;
  height: 56px;
  padding-left: 20px;
  font-size: xx-large;
  font-weight: bold;
  border: #ebb360 solid 1px;
  border-bottom: #ebb360 solid 4px;
  border-radius: 5px;
  margin-top: 8px;
}

.mtCurrency {
  font-size: xx-large;
  margin-top: 18px;
  margin-left: 10px;
}

.right {
  text-align: right;
}

.hideElement {
  visibility: hidden;
}
