:root {
  --main-org-color: rgb(255, 150, 0);
  --main-org2-color: #d78430;
  --main-odd-color: #f1f1f1;
  --main-shadow-color: #c1c1c1;
}

.mtInputBar {
  height: 70px;
  margin: 5px;
  display: flex;
  flex-direction: row;
}
.mtInputBarOdd {
  background-color: var(--main-odd-color);
}
.mtCaption {
  margin-left: 50px;
  width: 30%;
  font-size: x-large;
  font-weight: bold;
  margin-top: 20px;
  text-align: left;
}

.mtInfo {
  display: flex;
  height: 30px;
  width: 30px;
  border-radius: 15px;
  margin-top: 22px;
  margin-right: 20px;
  border: var(--main-shadow-color) solid 1px;
  box-shadow: 3px 3px var(--main-shadow-color);
  cursor: pointer;
  align-items: center;
  justify-content: center;
}

.mtInfo:hover {
  box-shadow: 3px 3px #464646;
  cursor: pointer;
}

.mtInput {
  width: 380px;
  height: 54px;
  padding-left: 20px;
  font-size: x-large;
  font-weight: bold;
  border: var(--main-org-color) solid 1px;
  border-bottom: var(--main-org-color) solid 4px;
  border-radius: 5px;
  margin-top: 8px;
}

.mtInputDisabled {
  width: 380px;
  height: 54px;
  padding-left: 20px;
  font-size: x-large;
  font-weight: bold;
  border: var(--main-shadow-color) solid 1px;
  border-bottom: var(--main-shadow-color) solid 4px;
  border-radius: 5px;
  margin-top: 8px;
}

.mtInputIcone {
  position: relative;
  left: -30px;
  width: 80px;
  height: 80px;
}
.mtCurrency {
  font-size: x-large;
  margin-top: 14px;
  margin-left: 10px;
}

.right {
  text-align: right;
}

.hideElement {
  visibility: hidden;
}
