.headerContainer {
  height: 80px;
}
.header {
  display: flex;
  align-items: flex-start;
  flex-direction: column;
  margin: 20px;
  border-bottom: #b5b3b3 solid 1px;
}

.title {
  font-family: "Oswald", sans-serif;
  text-align: left;
  margin: 20px;
  color: #ff9600;
  height: 60px;
  font-size: 30px;
  text-transform: uppercase;
}
.progress-bar {
  background-color: rgb(240, 240, 240);
  width: 815px;
  height: 5px;
}

.pagination .btnContainer {
  width: 300px;
  height: 30px;
}

.pagination .btNext {
  color: #ffffff;
  background-color: #ff9600;
  width: 200px;
  height: 30px;
  border-radius: 30px;
}

.pagination .btNext:hover {
  color: #ff9600;
  background-color: #fff;
  height: 24px;
  border-width: 3px;
  border-color: #ff9600;
  border-style: solid;
}

.pagination {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 20px;
}

.pagination a {
  display: block;
  font-size: 16px;
  padding: 10px 0;
}
.body {
  background-color: rgba(193, 175, 85, 0.852);
  height: 300px;
}
.pourcent_bar {
  position: relative;
  left: 0;
  background: #f5e0b7;
  height: 100%;
}
span.pourcent {
  position: relative;
  top: -20px;
  background: #ff9500;
  border-radius: 50%;
  color: #ffffff;
  display: inline-block;
  font-weight: bold;
  line-height: 40px;
  width: 40px;
  text-align: center;
  border: #f5e0b7 solid 3px;
}

.goodLocalisation {
  height: 300px;
}

/* ---------------------------  RadioGroup ----------------------------------------*/
.radioGroup {
  display: flex;
  margin-left: 20%;
  margin-right: 20%;
}

.btnRadio {
  margin: 10px;
  font: Verdana, Geneva, sans-serif;
  font-size: 18px;
  text-align: center;
  height: 80px;
  display: table;
  width: 100%;
  cursor: pointer;
  border-radius: 5px;
  text-transform: uppercase;
}

.btnRadio span {
  vertical-align: middle;
  display: table-cell;
}

.btnRadioUnselected {
  background-color: #ffffff;
  border: #797979 solid 2px;
}
.btnRadioSelected {
  background-color: #ff9600;
  border: #ff6200 solid 2px;
}

/* .btnRadioUnselected :hover {
  background-color: #ff9600;
  border: #ffffff solid 3px;
}
.btnRadioSelected :hover {
  background-color: #ffffff;
  border: #ff9600 solid 3px;
} */
